body {
    background: #ebebeb;
}
.intro {
    background: #ffffff;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.reseaux-sociaux {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    color: #7d7d7d;
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none;
}
.movies {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
h1{
    color: #dd5555;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 900;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #7d7d7d;
}
h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #7d7d7d;
    font-size: 25px;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #7d7d7d;
    text-align: justify;
}
.evidence {
    font-weight: bold;
    color: #7d7d7d;
}
.photo {
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.mot {
    background: #d4d4d4;
}
.affiche {
    height: 200px;
    margin-right: 20px;
}
a:visited {
    color: #7d7d7d;
}
a {
    text-decoration: none;
}
.seeyourself {
    background-color: #dd5555;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.seeyourself:visited{
    color: #ffffff;
}